<header
    class="main-header"
    <% if(theme.banner.img){ %>
        style="background-image:url(<%= url_for(theme.banner.img) %>)"
    <%}%> >
    <div class="main-header-box">
        <!-- <a class="header-avatar" href="/" title='<%= config.author %>'>
            <%- image_tag('img/avatar.jpg',{alt:'logo头像',class:'img-responsive center-block'}) %>
        </a> -->
        <div class="branding">
            <!--<h2 class="text-hide">Snippet主题,从未如此简单有趣</h2>-->
            <% if(theme.title){ %>
            <h2>
                <%= theme.title %>
            </h2>
            <h3 class="header-subtitle">
                <%- theme.subtitle || "" %>
            </h3>
            <% } else { %>
            <%- image_tag('img/branding.png',{alt:'Snippet 博客主题',class:'img-responsive center-block'}) %>
            <% } %>
        </div>
    </div>
</header>